#clockcontainer{
    position: relative;
    margin: auto;
    width: 50vw;
    height: 50vw;
    background: url(analogwatch.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 20px;
}

#hour {
    width: 2%;
    height: 32%;
    top: 17%;
    left: 49.30%;
    transform-origin: bottom;
    
    
}
#minute{
    width: 2%;
    height: 37%;
    top: 12%;
    left: 49.30%;
    transform-origin: bottom;
    
}

#second{
    width: .50%;
    height: 37%;
    top: 12%;
    left: 49.50%;
    transform-origin: bottom;

}
